@import url("color-scheme.css");

#construct{

      background-image: url("poster.png") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
       background-size: cover;
}